body {
  padding-top: 6rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #34495e;
  text-align: left;
  background-color: #fff;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

a {
  color: #34495e;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:visited {
  text-decoration: none;
  color: #34495e;
}

a:link {
  text-decoration: none;
  color: #34495e
}

a:hover,
a:focus {
  color: #34495e;
  text-decoration: underline;
}

a:active,
a:hover {
  outline: 0;
}

.btn {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  letter-spacing: .5px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .12);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .12);
}

.btn-outline-claim {
  color: #536eec;
  background-color: transparent;
  background-image: none;
  border-color: #536eec;
}

.font-weight-bold {
  font-weight: 600 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #34495e
}


#auth-view input {
  background-color: transparent;
  padding: 11px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  box-sizing: border-box;
}

#auth-view button,
#auth-view input[type=text],
#auth-view input[type=email],
#auth-view input[type=password],
#auth-view label {
  width: 100%;
  font-size: 17px !important;
  line-height: 24px;
  color: #484848;
  font-weight: 300;
  -webkit-appearance: none;
  height: 48px;
}


#auth-view .question {
  margin-top: 11px;
  text-align: center;
}

#auth-view .question p {
  font-size: 16px;
}
