$font--role-default: 'Lato',
sans-serif;
$font--role-emphasis: 'Lato',
sans-serif;

$color__text--primary: rgba(0, 0, 0, 0.87);
$color__text--secondary: rgba(0, 0, 0, 0.54);

$color__lightgray--primary: #F5F5F5;
$color__lightgray--darker: #EEEEEE;
$color__lightgray--darkest: #E0E0E0;

$color__gray--primary: #EEEEEE;
$color__gray--darker: #E0E0E0;
$color__gray--darkest: #BDBDBD;

$color__darkgray--primary: #757575;
$color__darkgray--darker: #525252;
$color__darkgray--darkest: #424242;

$color__orange--primary: #F57C00;
$color__orange--darker: #EF6C00;
$color__orange--darkest: #de621c;

$color__green--primary: rgba(76, 175, 80, 0.86);
$color__green--darker: #349238;
$color__green--darkest: #1B5E20;

$color__blue--primary: #42A7FF;
$color__blue--darker: #0079E5;
$color__blue--darkest: #0D47A1;

$color__red--primary: #e74860;
$color__red--darker: #B71C1C;



